@import '../../app.scss';

.PhotoUploadPage {
    margin: 27px 0 56px;

    .StepTitle {
        margin: 0 33px;
        text-align: center;
        text-transform: uppercase;
    }

    .Skip-Step {
        .Button {
            display: inline-block;
            background: none;
            color: $c-black;
            font-size: 15px;
            font-style: normal;
            font-weight: bold;
            text-decoration: underline;
            text-transform: uppercase;
            margin-top: 20px;

            &.hold {
                display: none;
            }
        }
    }
}

.Button .PhotoUploadPage-ButtonText {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 14px;
        height: 14px;
        margin: 0 5px;
    }

    p {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.header-link {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.text-grey {
    color: $grey-color;
}

.text-bold {
    font-weight: 600;
}

.justify-center {
    justify-content: center;
}

.home-content {
    padding-left: 70px;
    padding-right: 70px;
}
