.ProductList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .Product-Item {
        flex: 100%;
        display: flex;
        flex-direction: row;
    }

    .Product-Info{
        line-height: 1.36;
        /*width: 180px;*/
        display: flex;
        vertical-align: middle;
        /*height: 50px;*/
        /*padding-top: 34px;*/
        padding-top:15px;
    }

    .Product-Item.Product-Item__Featured {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .Product-AddToBasketWrapper {
            text-align: center;
            flex-basis: 100%;
            margin-top: -10px;
        }

        .Product-AddToBasketButton {
            padding: 11px 103px 11px 103px;
            font-size: $f-regular;
            text-decoration: none;
        }

        .Product-Description-Block {
            margin: 10px 6px;
        }

        .Product-Info{
            line-height: 1.36;
            margin: 0 auto 40px auto;
            padding-top:0;
            width:300px;
        }

        .Product-Name{
            margin:auto;
        }

    }

    &.loading {
        .Product-Price,
        .Product-Description,
        .Product-Name {
            background: $c-gainsboro;
            content: '';
            display: block;
            min-height: 10px;
            margin-bottom: 2px;
            text-indent: -9999px;
            width: 80%;

            @include preloader(1);

            &::after {
                display: none;
            }
        }

        .Product-Price,
        .Product-Description {
            float: left;
            margin-right: 5px;
            width: 45%;
        }

        .Product-Sample-Icon {
            @include preloader(1);
        }
    }
}
