$dark-brown: #340c0c;
$light-brown: #62292b;

$grey-color: #a6a6a6;

.ms-2 {
    margin-left: 8px;
}

.ms-3 {
    margin-left: 12px;
}

.mt-2 {
    margin-top: 8px !important;
}

.mt-3 {
    margin-top: 12px;
}

.mt-30 {
    margin-top: 30px !important;
}

.d-flex{
    display: flex;
}

.px-70{
    padding-left: 70px;
    padding-right: 70px;
}