.Waitlist {
    margin: 47px 0 56px;

    .Form-Wrapper {
        margin-top: 40px;
    }

    .RadioButton-Wrapper {
        margin: 39px 0 35px;
        text-align: left;
    }

    .Newsletter {
        display: flex;
        margin: 44px 0 37px;

        label {
            font-size: 11px;
            margin-left: 10px;
        }
    }
}
