.CountrySelector {
    &-Inner {
        margin-bottom: 30px;
        text-align: center;

        h2 {
            font-family: $main-font;
            font-size: 19px;
            margin: 23px 0px 25px;
            font-style: normal;
        }

        .Input-Label {
            &.required {
                &::after {
                    content: '*';
                    color: $c-red;
                    font-size: $f-regular;
                    margin: 0 0 0 5px;
                }
            }
        }
    }
}
